---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@font-face {
  font-family: VT220;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Glass_TTY_VT220.ttf') format('truetype');
}

$amber: #ffc200;

// Our variables
$base-font-family: VT220, 'PT Mono', 'Courier', monospace;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #f3f3f3;
$background-color: #050505;
$brand-color:      $amber;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

html {
  text-shadow: 0.5px 0.5px 30px;
}


.site-title {
  color: $amber !important;
}

code {
  // background: transparent;
  font-family: $base-font-family;
  border: none;
  background-color: #333;
}

article.post {
  max-width: 40em !important;
}

.footnotes {
  font-size: 80%;
}
